.wapper-login {
    margin: 10% auto 15%;
    
}
.login-container{
    background-color: #fff;
    padding: 22px;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
}
.header {
    text-align: center;
    margin-bottom: 12px;
    .form-heading {
        font-size: 1.8rem;
    }
    .icon-close {
        color: var(--primary);
    }
}


.fif_wrap {
    display: flex !important;
    justify-content: space-between;
    label {
        font-weight: 600;
        font-size: 1.6rem;
    }
    span {
        font-size: 1.4rem;
        display: flex;
        align-items: center;

        .btn-register {
            color: var(--primary);
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            margin-left: 6px;
        }

        .show-btn {
            margin-left: 8px;
            color: #282a35;
            cursor: pointer;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 600;
            user-select: none;
            p{
                min-width: 42px;
                margin-left: 4px;
            }
        }
    }
}
.user-input {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 14px;
    width: 100%;
}
.form-submit {
    background-color: var(--primary);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: 100%;
    margin: 28px 0 18px 0;
    &:hover {
        background-color: #d36b3a;
    }
}
.forgot_pass {
    color: #282a35;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;

    &:hover {
        color: var(--primary);
    }
}
.mess-error {
    margin-bottom: 12px;
    color: red;
}
