.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greeting {
    flex: 1;
    .greeting-main {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
    }
    .greeting-sub {
        color: rgba(22, 24, 35, 0.65);
        font-size: 1.6rem;
    }
}

.select-location {
    margin-left: 18px;
}
