.display-list {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    background-color: #ffffff;
    cursor: pointer;
    .list {
        padding: 4px 12px;
        width: 50%;
        text-align: center;
    }
    .active {
        background-color: #51c5ce;
        color: rgb(209, 43, 43);
    }
}
.select-wrapper {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.select-room {
    width: 30%;
    margin-bottom: 8px;
}
.header {
    margin: 2px auto 22px;
    display: flex;
    align-items: center;
    background-color: #cbd5da;
    max-width: 400px;
    padding: 4px 12px;
    border-radius: 9999px;
    box-shadow: 1px 2px 2px #393b3b;
    .header-icon {
        padding: 4px;
        border-radius: 10px;
    }
    .device-name {
        flex: 1;
        margin-left: 12px;
        font-size: 1.6rem;
        font-weight: 600;
        color: rgb(87, 87, 87);
        text-align: center;
    }
}
