.container {
    padding: 0;
    @media screen and (max-width: 1023px) {
        margin-top: var(--default-layout-header-height);
    }
    @media screen and (min-width: 1023px) {
        margin-top: var(--default-layout-header-height);
        margin-bottom: 22px;
    }
}
.content {
    flex: 1;
    background-color: #ebf2f7;
    position: relative
}

    @media (min-width: 1023px) {
        .nav-bar {
            position: fixed;
            top: var(--default-layout-header-height);
            margin-top: 1px;
        }
        .content {
            flex: 1;
            background-color: #ebf2f7;
            position: relative;
            margin-left: var(--default-layout-sidebar-width);
        }
    }
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.3);
    z-index: 9;
    animation: fadeIn linear 0.2s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }