.section-about {
    margin: 2rem 0;
    .container {
        .title {
            font-size: 2.8rem;
            color: #444444;
            font-weight: 600;
            letter-spacing: 0px;
            text-transform: uppercase;
        }
        text-align: justify;
        .main-container {
            margin: 0 auto;

            .section-desc {
                margin-top: 20px;
                font-size: 1.8rem;
                line-height: 1.7;
                color: #777777;
            }
        }
        .sub-container {
            .section-about-content {
                font-size: 1.6rem;
                line-height: 1.7;
                color: #777777;
                p + p {
                    margin: 15px 0;
                }
            }
        }
    }
}
.title-section {
    font-size: 3.2rem;
    line-height: 2.75rem;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 1.375rem;
    text-align: center;
    transition: 0.5s ease;
}
.why-luxas {
    padding: 30px 0 50px;
    width: 100%;
    margin: 0 auto;

        .why-luxas__items {
            transition: 0.3s linear;
            list-style: none;
            .why-luxas__icon {
                color: var(--primary);
            }
            .why-luxas__descr {
                font-size: 1.6rem;
                line-height: 1.25;
                color: gray;
                text-align: left;
                
                .why-luxas__title {
                    margin-bottom: 12px;
                    font-size: 2rem;
                    line-height: 24px;
                    font-weight: 700;
                    color: #000;
                }
            }
        }
        
    }
    @media  (max-width:740px) {
        .why-luxas__items{
            text-align: center;
            .why-luxas__descr{
                text-align: center !important;
            }
        }
    }
