.btn-see {
    padding: 6px;
    margin: 0 12px;
    float: right;
    color: #ffffff;
    font-weight: 600;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(230, 108, 22);
    }
}
@media (max-width: 739px) {
    .btn-wrapper {
        margin-top: 12px;
        > div {
            justify-content: center;
        }
    }
}
@media (min-width: 740px)  {
    .btn-wrapper {
        > div {
            justify-content: center;
            margin-top: 4px;
        }
    }
}
