.wrapper {
    width: 300px;
    height: 140px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    padding: 10px 20px;
    background: rgb(209, 201, 201);
    box-shadow: 0 3px 25px rgb(0 0 0 / 20%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    font-size: 1.8rem;

    .title {
        font-size: 1.6rem;
        margin-left: 12px;
    }
}

.message {
    font-size: 1.4rem;
    margin: 12px 10px;
}
.wrapper-button {
    display: flex;
    justify-content: center;

    .button {
        margin: 4px 18px;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        &.ok {
            background-color: rgb(99, 214, 22);
        }
        &.cancel {
            background-color: rgb(216, 66, 39);
        }
    }
}
