.search-result,
.search {
    @media screen and (max-width: 740px ) {
    display: none !important;
    
  }
    @media  screen and (min-width: 740px ) and (max-width: 1023px) {
    width: 260px;
    margin-left: 4%;
  }
  @media screen and (min-width: 1023px ) {
    width: 361px;
    margin-left: 70%;
  }
}
.search {
    @media  screen and (min-width: 740px ) and (max-width: 1023px) {
        height: 36px;
        &::after {
            height: 22px;
            top: 7px;
        }
        
      }
      @media screen and (min-width: 1023px ) {
        height: 46px;
        &::after {
            height: 28px;
            top: 9px;
        }
      }
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;
    &::after {
        content: '';
        position: absolute;
        
        right: var(--search-button-width);

        width: 1px;
        background: rgba(22, 24, 35, 0.12);
    }
    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}


.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-bottom-right-radius: var(--search-boder-radius);
    border-top-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
