/* Thiết kẻ thẻ select */

.wrapper {
    position: relative;
    display: flex;
    width: 180px;
    height: 40px;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: 0.25em;
    &::after {
        content: '\25BC';
        position: absolute;
        top: -2px;
        right: -2px;
        padding: 0 1em;
        background: rgb(125, 144, 163);
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: 0.25s all ease;
        -o-transition: 0.25s all ease;
        transition: 0.25s all ease;
        color: white;
    }
    &:hover {
        &::after {
            color: rgb(24, 23, 23);
        }
    }
}
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: rgb(92, 105, 109);
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
}
